<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name = "File"
                     fileName = "logs/automation-current.log"
                     filePattern="logs/automation-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern = "%d{dd-MM-yyy HH:mm:ss} %-5level %-18c{1} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>